/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}  

.flex{
    display: flex;
}

h2.titulo{
    color: white;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: blueviolet;
}

button:hover{
    box-shadow: 0px 0px 8px blueviolet;
    transform: scale(1.10);
}

/* ESTILO CABEÇALHO */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #969696;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: aliceblue;
    transform: scale(1.10);
}

header nav ul{
    list-style-type: none;
}

.menu-desktop ul li a {
    padding: 0 40px;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: blueviolet;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

/* TOPO DO SITE */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: aliceblue;
    font-size: 38px;
    line-height: 40px;
}

.topo-do-site h1 span{
    color: blueviolet;
}

.topo-do-site .txt-topo-site p{
    color: #969696;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    width: 250px;
    border: none;
    border-radius: 100px;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* Estilo dos artigos */
section.artigos{
    padding: 40px 4%;
}

section.artigos .flex{
    gap: 60px;
}

.artigos .linguagem-box{
    color: aliceblue;
    padding: 40px 40px; 
    margin-top: 40px;
    border-radius: 20px;
    transition: .2s;
}

.artigos .linguagem-box:hover{
    transform: scale(1.10);
    box-shadow: 0 0 8px #ffffff5d;
    cursor: pointer;
}

.artigos .linguagem-box i{
    font-size: 70px;
    color: blueviolet;
}

.artigos .linguagem-box a{
    text-decoration: none;
    color: aliceblue;
}

.artigos .linguagem-box h3{
    font-size: 28px;
    margin: 15px 0 ;
}

section.sobre{
    padding: 80px 4%;
}

section.sobre .img-sobre img{
    width: 510px;
    border-radius: 100px;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: aliceblue;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: blueviolet;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: blueviolet;
    font-size: 22px;
    cursor: pointer;
    margin: 0 10px;
    transition: .2s;
}